@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
.background{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.1) , rgba(0,0,0,0.3) 50%),url('slider_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100wv;
    height:100vh;
   position: relative;
}
::selection{
    background-color: #000;
    color:#fff;
}
.header{
    width:99vw;
    height: auto;
}
.nav-bar{
    display: flex;
    flex-flow: row wrap;
    gap:3rem;
    
} 
.nav{
    width: 95vw;
    height:auto;
    padding: 4rem 0 0 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.nav-bar h1{
    font-size: 3rem;
    color:#fff;
    padding: .6rem .8rem;
    flex-basis: 7%;
    font-weight: 300;
    
}
.nav-bar ul{
    display: flex;
    flex-flow: row wrap;
    gap:3rem;
    
}
.nav-bar .first{
    align-self: center;
    justify-content: flex-start;
    flex-basis: 55%;
}
.nav-bar .second{
    align-self: center;
    flex-basis: 30%;
    justify-content: flex-end;
    
}
.nav-bar ul li{
    list-style-type: none;
    padding: 1rem .5rem 1rem 0;
}

.nav-bar li a{
  text-decoration: none;
  font-size: 1.6rem;
  /* margin: 1rem 0; */
  color:#909292;
  font-weight: 500;
}
.nav-bar ul li:first-child a{
    color:#22eaaa;
}
.nav-bar .second li .fa-brands{
  text-decoration: none;
  font-size: 1.8rem;
  /* margin: 1rem 0; */
  color:#fff;
  font-weight: 400;
}
.nav-bar .second li .fa-brands:hover{
    color:#22eaaa;
}
.nav-bar li .about{
    color:#414040;
}
.header-content{
    width:40vw;
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.header-content .para1{
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: .1rem;
    padding: 1rem 0 .5rem 0;
    color:#fff;
}
.header-content .para2{
    font-size: 4.7rem;
    font-weight: 300;
    letter-spacing: .1rem;
    padding: .2rem 0 .5rem 0;
    color:#fff;
}
#first1{
    margin: 50rem 2rem 2rem 0;
}
.main-sec{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap:2.5rem;
    /* margin-top: 8rem; */
    
}
.header{
    margin-bottom: 15rem;
}
.service{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color:#22eaaa;
}
.service .icons{
   flex-basis: 20%;
   align-self: flex-start;
   margin: 1.5rem 0 0 1rem;
}
.icons .fa-solid{
    font-size: 5.5rem;
    color:#000;
    align-self: center;
    justify-self: center;
}
.service .content{
    flex-basis: 70%;
    align-self: flex-start;
    margin: 1.5rem 0 0 0;
}
.content h2{
    font-size: 2.3rem;
    text-transform: capitalize;
    color:#000;
    font-weight: 300;
    padding-top: .5rem;
}
.content p{
    font-size: 1.5rem;
    font-weight: 200;
    color:#000;
    padding: 1rem 0;
    line-height: 1.7;
}
.content .anchor{
    margin: 2.5rem 0 2rem 0;
}
.content a{
    font-size: 1.8rem;
    font-weight: 200;
    color:#000;
    padding: .5rem 0;
}
#main{
    margin-top: 10rem;
}
#second2{
    width:100%;
    height:auto;
    margin: 10rem auto;
    text-align: center;
}
#second2 h2{
    font-size: 2.5rem;
    font-weight: 400;
    padding: 3rem auto;
    text-transform: uppercase;
    color: #909292;
}
.service1{
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
}

.sr-left{
    flex-basis: 50%;
    height:auto;
    margin-top: 6rem; 
}
#accordion{
    margin: 2rem auto;
}
#accordion li{
   list-style-type: none;
   width:100%;
   margin-bottom: 1rem;
   background-color: #fff;
   padding: 1rem;
}
#accordion li label{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 300;
    cursor: pointer;
    color: gray;
}
#accordion li label span{
    font-size: 1.8rem;
    color:gray;
    font-weight: 300;
}
#accordion label + input[type="radio"]{
     display: none;
}
 .sr_content{
    padding: .1rem 1rem .5rem 1rem;
    line-height: 2.6rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s;
    border-bottom: 0.1px solid rgba(213, 213, 213, 0.516);
}

#accordion label + input[type="radio"]:checked + .sr_content {
    max-height:400px;
}

#accordion .sr_content p{
    font-size: 1.6rem;
    font-weight: 200;
    padding: .2rem .7rem;
    text-align: left;
}
.sr-right{
    flex-basis: 50%;
    height:auto;
    margin-top: 6rem;
}

.sr-right img{
    width:33vw;
    height:auto;
}
#third3{
    margin: 5rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap:2rem;
}

#third3 h2{
    font-size: 2.5rem;
    font-weight: 400;
    padding: 2rem auto;
    text-transform: uppercase;
    color: #909292;
}
#third3 .videos {
    width:75vw;
    height:95vh;
    background:linear-gradient(to right,rgba(0, 0, 0, 0.718) 50%,rgba(0, 0, 0, 0.718) 50%) ,url('./slider_3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 3rem;
    display: grid;
    place-items: center;
}
#third3 a .fa-regular{
    font-size: 10rem;
    color:#fff;

}
#fourth4{
    text-align: center;
    margin: 10rem auto;
}
#fourth4 h2{
    font-size: 2.5rem;
    font-weight: 400;
    padding: 2rem auto;
    text-transform: uppercase;
    color: #909292;
}
.works{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap:2rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.work{
    margin: 0 .5rem;
}
.work img{
    width:25vw;
    height:auto;
}
.work h3{
    font-size: 2rem;
    font-weight: 200;
    padding: .8rem 1.4rem 0 1.4rem;
    text-align: left;
    color:gray;
}
.work p{
    font-size: 1.5rem;
    font-weight: 100;
    padding: .4rem 0 0 1.4rem;
    text-align: left; 
    color:gray;
}
.work .work_para{
    font-size: 1.8rem;
    font-weight: 200;
    padding: 1.7rem 0 0 1.4rem;
    text-align: left; 
    color:#22eaaa;
}
.working{
    margin-top: -5px;
}
.work:hover > .working{
    background-color: #22eaaa;
    cursor: pointer;  
}
.work:hover > .working > .work_para{
    color:#fff;
    padding-bottom: .8rem;
}
.work:hover{
    transform: scale(1.05);
    transition: transform .7s;
     
}
#fifth5{
    margin: 5rem auto;
    background-color: #f7f7f7;
    text-align: center;
}
#fifth5 h3{
    font-size: 3rem;
    font-weight: 300;
    padding: 3.5rem 0;
    color:gray;
}
.feed{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:3rem;
}
.person #paragraph{
    font-size: 2rem;
    font-weight: 200;
    padding: .5rem 3rem;
    line-height: 1.5;
    text-align: left;
    color: gray;
}
.about_per{
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-start;
   align-items: center;
   gap:.7rem;
   padding-bottom: 1.5rem;
   margin: 1.5rem 0 1.5rem 1.5rem;
}
.person .about_per img{
    width:4.2vw;
    height:auto;
    border-radius: 50%;
    margin-left: .5rem;
}

.about_per #para .para_one{
      font-size: 2.2rem;
      font-weight: 400;
      color:#000000a0;
      padding: .3rem;
      text-align: left;
}
.about_per #para .para_two{
    font-size: 1.7rem;
    font-weight: 300;
    color:#000000a0;
    padding: .3rem;
    text-align: left;
}
footer{
    background: #22eaaa;
    padding: 5rem auto;
    height:90vh;
}
footer .footer{
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr 2fr;
    place-items: center;
    gap:3rem;
}
.footer .foot1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
    text-align: center;
}
.foot1 h3{
      font-size: 2.2rem;
      font-weight: 300;
}
.footer .foot2{
    padding-top: 10rem;
    text-align: center;
}
.foot2 h3{
      font-size: 2.2rem;
      font-weight: 300;
}
.footer .foot3{
    padding-top: 10rem;
    text-align: center;
}
.foot3 h3{
      font-size: 2.2rem;
      font-weight: 300;
}
.footer .foot4{
    padding-top: 5rem;
    text-align: center;
}
.foot4 h3{
      font-size: 2.2rem;
      font-weight: 300;
}
.foot1 p{
    font-size: 1.5rem;
    font-weight: 300;
    padding: .5rem .5rem;
}
.foot2 ul{
    display: flex;
    flex-flow: column wrap;
    /* gap:1.5rem; */
    padding: 1.5rem .5rem;
}
.foot2 ul li{
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 200;
    color: #070606c9;
    padding: 1rem 0;
}
.foot2 ul li:first-child{
    padding-top: 0;
}
.foot3 ul{
    display: flex;
    flex-flow: column wrap;
    /* gap:1.5rem; */
    padding: 1.5rem .5rem;
}
.foot3 ul li{
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 200;
    color: #070606c9;
    padding: 1rem 0;
}
.foot3 ul li:first-child{
    padding-top: 0;
}
.foot4 p{
    font-size: 1.7rem;
    font-weight: 300;
    padding: .5rem 1.5rem;
}
.foot4 .input{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
}
.foot4 input[type="email"]{
    font-size: 1.8rem;
    font-weight: 300;
    padding: 1rem .5rem;
    background-color: transparent;
    border:1px solid #0000007d;
    width:90%;
    margin: 1.5rem 0;
    border-radius: .3rem;
}
.foot4 .input p{
    text-transform: uppercase;
    color:#fff;
    background-color: #117555;
    font-size: 1.8rem;
    font-weight: 500;
    position: absolute;
    top:25.5%;
    left:69.5%;
    border-radius: .3rem;
}
.footer_end{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1.5rem 0 5rem 0;
}
.footer_end .end_content p{
      font-size: 1.8rem;
      font-weight: 300;
      color:rgb(41, 40, 40);
      padding: 2rem;
}
.footer_end .end_content a{
    font-size: 1.5rem;
    font-weight: 300;
    color:rgb(33, 33, 33);
    padding: 1.5rem;
}
.social_links ul{
    display: flex;
    flex-flow: row wrap;
    gap:2rem;
}
.social_links ul li{
      list-style-type: none;
      
}

.social_links ul  li a {
    font-size: 2rem;
    color:#000;
}
@media (max-width:768px){
    html{
        font-size: 50%;
    }
}